modules = ["python-3.11"]

[workflows]
runButton = "Serve HTML"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "RADOS AGI OS"

[[workflows.workflow]]
name = "RADOS AGI OS"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Run Production API"
author = 44027854
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python api_server.py"

[[workflows.workflow]]
name = "Serve HTML"
author = 44027854
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"
